<div class="row justify-content-center text-center">
    <h1 class="display-4">Soy Aaron Molina</h1>
    <div class="col col-md-7">
        <p>
            Estudiante de sexto semestre de la carrera de ingenieria en computación, mi tecnología de principal
            interés y por lo tanto de mayor dominio es .net, por lo que se manejar C#, ASP.net, Dapper, Twilio, Azure, SQlServer,
            sin embargo, tambien cuento con conocimiento soido en HTML, CCS, JavaScript, y frameworks como Boostrap y Angular.
        </p>
    </div>
</div>

<div class="text-center">
    <img id="foto" src="~/Imagenes/fotoPerfil.jpg" alt="Foto de Aarón" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>

        <p>
            Mi experiencia en realidad se compone al cien por ciento de proyectos personales y escolares. Actualmente mis proyectos
            mas grandes en los que he invertido más tiempo, así como aplicado mayor cantidad de conocimientos son:
        </p>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="active">Proyectos</a>
            <a href="#" class="list-group-item list-group-item-action">Portafolio personal</a>
            <a href="#" class="list-group-item list-group-item-action">Control de presupuestos</a>
        </div>
    </div>
</div>